/* layout */
html {
  font-family: monospace;
  font-size: 16px;
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

top-header {
  background-color: rgb(204, 31, 56);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
top-header h1 {
  color: white;
  font-weight: normal;
  line-height: 2rem;
  margin: 1.5rem 0;
}

side-menu {
  background-color: lightblue;
  box-sizing: border-box;
  left: 0;
  min-height: calc(100% - 5rem);
  padding: 3rem;
  position: absolute;
  top: 5rem;
  width: 15rem;
  z-index: 100;
}
side-menu aside a {
  line-height: 2rem;
}

#content {
  box-sizing: border-box;
  left: 15rem;
  min-height: calc(100% - 5rem);
  min-width: calc(100% - 15rem);
  padding: 2rem;
  position: absolute;
  top: 5rem;
}

button {
  background-color: lightblue;
  border-radius: .25rem;
  border: 1px inset transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem 1rem;
}

button.btn-full-width {
  margin: 1rem;
  width: calc(100% - 2rem);
}

/* form */
.error-message {
  border: 1px solid lightcoral;
  border-radius: 0.5rem;
  background-color: lightcoral;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 0;
  text-align: center
}
.field {
  margin-bottom: 1rem;
}
.field label {
  display: inline-block;
  width: 10rem;
}
.field input {
  border-color: lightblue;
  border-radius: 0.25rem;
  border-style: solid;
}
.field input.ng-invalid {
  border-color: lightcoral;
}
.field input.ng-invalid-custom-required + .required-error-message {
  display: block;
}
.field input[type=text] {
  width: 15rem;
}
.field .maxlength-error-message,
.field .required-error-message {
  color: lightcoral;
  display: none;
  margin-left: 10.5rem;
}

/* vendors override */
.angularjs-datetime-picker .hourLabel,
.angularjs-datetime-picker .minutesLabel {
  clear: both;
  float: left;
}
.angularjs-datetime-picker .hourInput,
.angularjs-datetime-picker .minutesInput { float: right }

.fa-check {
  color: green;
}
.fa-lock {
  color: yellow;
}
.fa-user-times {
  color: red;
}
