<div ng-controller="UserController as user">
  <h2>User</h2>
  <form name="userForm" ng-submit="user.submit()" novalidate>
    <div ng-show="userForm.$invalid" class="error-message">
      There is some errors
    </div>

    <div class="field">
      <label>Expire Date</label>
      <input datetime-picker ng-model="user.expireDate" name="expireDate" />
      <p class="required-error-message">This field is required</p>
    </div>

    <div class="field">
      <label>First Name</label>
      <input type="text" name="firstName" ng-model="user.firstName" ng-change="user.validateField('firstName')" />
      <p class="required-error-message">This field is required</p>
      <p class="maxlength-error-message">Text with a maximum length of 100 chars</p>
    </div>

    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lastName" ng-model="user.lastName" ng-change="user.validateField('lastName')" />
      <p class="required-error-message">This field is required</p>
      <p class="maxlength-error-message">Text with a maximum length of 100 chars</p>
    </div>

    <div class="field">
      <label>Status</label>
      <input type="radio" name="status" value="active" ng-model="user.status" ng-change="user.validateField('status')" /> Active
      <input type="radio" name="status" value="blocked" ng-model="user.status" ng-change="user.validateField('status')" /> Blocked
      <input type="radio" name="status" value="deleted" ng-model="user.status" ng-change="user.validateField('status')" /> Deleted
      <p class="required-error-message">This field is required</p>
    </div>

    <button type="button" ng-click="user.reset()">Reset</button>
    <button type="submit">Submit</button>
  </form>
</div>
